<section>
  <%= render GoogleCrawlerWeb.KeywordView, "_form.html", assigns %>
</section>
<hr>
<section>
  <h3><%= gettext("Keywords") %></h3>
  <%= if length(@keywords) == 0 do %>
    <p><%= gettext("You don't have any keywords.") %></p>
  <% else %>
    <ul>
      <%= for keyword <- @keywords do %>
        <li><%= keyword.keyword %></li>
      <% end %>
    </ul>
  <% end %>
</section>
